.textLabel {
    -fx-fill: #333;
    -fx-font-family: Montserrat;
    -fx-font-size: 50px;
}

.button {
    -fx-font-family: SansSerif;
    -fx-cursor: pointer;
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
    -fx-min-width: 200px;

    -fx-padding: 1em 2em;
    -fx-border-width: 2px;
    -fx-border-color: #1B1B1B;
    -fx-border-style: solid;
    -fx-border-radius: 1em;
    -fx-background-color: #1B1B1B;
    -fx-background-radius: 1em;
}

.button:hover {
    -fx-background-color: #1B1B1B;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian , #000000 , 1, 10, 0, 0);
    -fx-border-color: #1B1B1B;
    -fx-border-style: solid;
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
    -fx-text-fill: #fff;
}

.button:pressed {
    -fx-background-color: #fff;
    -fx-text-fill: #333;

    -fx-border-width: 2px;
    -fx-border-color: #fff;
    -fx-border-style: solid;
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
}

.background {
    -fx-background-image: url("back.jpg");
}



